
.recipeImage {
   width: 200px;
   height: auto;
}

.header {
   height: 40px;
   background-color: #56ccf2;
   text-transform: uppercase;
   font-family: "Arial", "Helvetica", sans-serif;
   font-weight: 300px;
}

.pageTitle {
   float: left;
   padding: 10px 20px;
}

.navigation {
   display: flex;
   justify-content: flex-end;
}

      .navitem {
         padding: 10px 20px;
      }

.body {
margin: 0;
}

.h1 {
   font-family: "Arial", "Helvetica", sans-serif;
   margin: 24px;
}

   .recipeContainer {
      margin: 24px;
   }

      .recipeBox {
         display: flex;
         justify-content: flex-start;
      }

         .recipeContent {
            margin: 24px;
            font-family: "Arial", "Helvetica", sans-serif;
            max-width: 300px;
         }

            .recipe {
               border: 1px solid lightgrey;
               display: flex;
               margin: 0 15px 15px 0;
            }

            .linktorecipe {
               background-color: #f2c94c;
               width: 100%;
               font-size: 14px;
               text-transform: uppercase;
               border-radius: 8px;
               border: 0;
               height: 30px;
               margin-top: 24px;
            }

            button a {
               color: black;
               text-decoration: none;
               padding: 0 8px;
            }

            .footer {
               height: 30px;
               background-color: #ddf5fc;
               font-family: "Arial", "Helvetica", sans-serif;
               font-weight: 300px;
               display: flex;
               align-items: center;
               justify-content: center;
               padding: 10px 20px;
               font-size: 15px;
            }

            .link {
               text-decoration: none;
               color: black;
               font-weight: bold;
            }
/* media query to display nav items in bold when screen size is less than 1000px! */
            @media only screen and (max-width: 1000px) {
               #navigation {
                 display: none;
               }
               .navitem {
                 font-weight: bold;
               }
             }
